<!-- About this app -->
<div class="modal fade" id="about-this-app-modal" tabindex="-1" role="dialog" aria-labelledby="about-this-app">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>About&nbsp;<span id="this_app_name"></span></p>
                        <div id="about-this-app__content"></div>
                        <p>&copy; 1997-2017 MesoWest and the University of Utah, 2015-2017 SynopticLabs</p>
                    </div>
                </div>
                <div class="vspace-0"></div>
                <div class="row">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>