<!--<footer class="footer">
    <div class="container">
    
            <div class="col-xs-6">
            <div class="row">
                <div class="col-sm-6">
                    <b><a href="/">Mesowest &amp; SynopticLabs</a></b>
                    <br><a href="/about-us/">About Us</a>
                    <br><a href="http://meso1.chpc.utah.edu/mesowest_overview/">MesoWest Research</a>
                    <br><a href="/contact/">Contact Us</a>
                </div>
                
                <div class="col-sm-6">
                    <b><a href="/operational/">Services from MesoWest</a></b>
                    <br><a href="http://mesowest.utah.edu/">University Web Page</a>
                    <br><a href="http://glffc.utah.edu/">Great Lakes Fire &amp; Fuels</a>
                    <br><a href="http://fire.synopticlabs.org/alaska/">Alaska Fire &amp; Fuels</a>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-sm-8">
                    <b><a href="/api/">SynopticLabs APIs</a></b>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="/api/products/">Our APIs</a>
                            <br><a href="/api/guides/?getstarted">Get Started</a> <br>
                            <a href="/api/gallery/">Gallery</a>
                            <br><a href="/api/tutorials/">Tutorials</a>
                            <br><a href="/api/explore/">Explorer</a>
                            <br>
                        </div>
                        
                        <div class="col-sm-6">
                            <a href="/api/guides/">Guides</a>
                            <br><a href="/api/legal/">Legal/Disclaimer</a>
                            <br><a href="/api/faq/">FAQ</a>
                            <br><a href="/api/account/">Your Account</a>
                            <br><a href="/api/signup/">Get your API key</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <b><a href="http://synopticdata.com">Synoptic Data Corp</a></b>
                    <br><a href="https://api.synoptic.io">Operational API Services</a>
                    <br><a href="https://asn.synoptic.io">Above Surface Networks</a>
                    <br><a href="http://synopticdata.com/contact-us/">Contact Synoptic Data</a>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <hr/>
                <p class="text-muted"><small>&copy; 1997-2017 MesoWest and the University of Utah, 2015-2017 SynopticLabs</small></p>
            </div>
        </div>
    </div>
</footer>-->


<footer class="footer">
    <div class="container">
    
        <div class="row">

            <div class="col-sm-6 col-md-3 vspace-0">
                <b><a href="/">Mesowest &amp; SynopticLabs</a></b>
                <br><a href="/about-us/">About Us</a>
                <br><a href="http://meso1.chpc.utah.edu/mesowest_overview/">MesoWest Research</a>
                <br><a href="/contact/">Contact Us</a>
            </div>
            
            <div class="col-sm-6 col-md-3 vspace-0">
                <b><a href="/operational/">Services from MesoWest</a></b>
                <br><a href="http://mesowest.utah.edu/">University Web Page</a>
                <br><a href="http://glffc.utah.edu/">Great Lakes Fire &amp; Fuels</a>
                <br><a href="http://fire.synopticlabs.org/alaska/">Alaska Fire &amp; Fuels</a>
                <br>
            </div>

            <div class="col-sm-6 col-md-3 vspace-0">
                <b><a href="/api/">SynopticLabs APIs</a></b>
                <br><a href="/api/products/">Our APIs</a>
                <br><a href="/api/guides/?getstarted">Get Started</a>
                <br><a href="/api/gallery/">Gallery</a>
                <br><a href="/api/tutorials/">Tutorials</a>
                <br><a href="/api/explore/">Explorer</a>
                <br><a href="/api/guides/">Guides</a>
                <br><a href="/api/legal/">Legal/Disclaimer</a>
                <br><a href="/api/faq/">FAQ</a>
                <br><a href="/api/account/">Your Account</a>
                <br><a href="/api/signup/">Get your API key</a>
            </div>
            
            <div class="col-sm-6 col-md-3 vspace-0">
                <b><a href="http://synopticdata.com">Synoptic Data Corp</a></b>
                <br><a href="https://api.synoptic.io">Operational API Services</a>
                <br><a href="https://asn.synoptic.io">Above Surface Networks</a>
                <br><a href="http://synopticdata.com/contact-us/">Contact Synoptic Data</a>
            </div>

        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <hr/>
                <p class="text-muted"><small>&copy; 1997-2017 MesoWest and the University of Utah, 2015-2017 SynopticLabs</small></p>
            </div>
        </div>
    </div>
</footer>