<div class="row" id="app-loading">
    <div class="col-sm-12">
        <div id="page-is-loading">
            <p id="loading-message" class="lead page-header">Loading</p>
            <div id="loading-progress" class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>